<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css">
    <script>
      function Copy() {
      var Url = document.getElementById("url");
      Url.innerHTML = window.location.href;
      console.log(Url.innerHTML);
      Copied = Url.createTextRange();
      Copied.execCommand("Copy");
    }
    </script>
    <title>App</title>
  </head>
  <body>
    <header class="container">
        <div class="container-img">
            <img src="static/smile.png">
        </div>
        <div class="container-name">
          <a href="https://t.me/share/url?url=https://t.me/linkforkbot/link?startapp=rft6ju4">
            <p>@lord2ve <img src="static/copy.png" width="20" height="25"></p>
          </a>
        </div>
    </header>
    <a href="https://usr.gg/">
      <div class="card">
        <img src="static/insta.png">
        <h4>Instagram</h4>
        <p>- Hello</p>
      </div>
    </a>
    <a href="https://t.me/@lord2ve">
      <div class="card">
        <img src="static/x.png">
        <h4>Twitter</h4>
        <p>- Hello</p>
      </div>
    </a>
    <a href="https://t.me/@lord2ve">
      <div class="card">
        <img src="static/youtube.png">
        <h4>YouTube</h4>
        <p>- Hello</p>
      </div>
    </a>
    <a href="https://t.me/@lord2ve">
      <div class="card">
        <img src="static/usrgg.png">
        <h4>Usrgg</h4>
        <p></p>
      </div>
    </a>
  </body>
</html>
